@media only screen and (max-width: 430px) and (min-width:320px) {
  body{
    position: sticky;
  }
    .maincard{
        height: fit-content;
        margin:-2%;
        padding:0;
        padding-top: 1%;
       
        background-color: #000000; 
      }
    h1 {
        margin-top: 3%;
        text-align: center;
        margin-left: 5%;
        font-size: 20px;
    }
    #gemstoneid{
        font-family: oxy;
        font-weight: normal;
        margin-left: 6%;
        margin-top: 8%;
        font-size: 3vh;
      }

    h2 {
        font-family: licorice;
        margin-left: 25%;
      
        font-size: 10px;
        
    }

    .navitems {
        padding: 2%;
        margin-left: 7%;
        margin-right: 5%;
        margin-top: 2%;
        font-size: 0.7rem;
        font-family: lora;
        color: #ffffffec;
        text-align: center;
        text-decoration: none;

    }
    .multistone{
      width: 100px;
      margin-left: 10%;
      margin-top: 5%;
     
    }
    .textformulti{
      font-size: 0.15in;
      margin-left: -30%;
      padding-bottom: 10%;
      margin-right: 2%;
    }
    .congradulations{
     font-size: larger;
     margin-left: -23%;
      
    }
    .trial{
      font-size: 0.25in;
      margin-left: -40%;
      text-align: center;
    }
    .gemstone{
      width: 1.5in;
      margin-left: 30%;
      margin-top: 4%;
    }
    .mainbg{
      width: 103%;
      margin-left: -1%;
   
      height: 300px;
    }
    .aboutheading {
        font-size: 0.25in;
        letter-spacing: normal;
        margin-top: 25%;
    }
    .aboutusbanner{
      margin-top: 18%;
    }
    .aboutSection{
      margin: -6%;
    }
  

    .textsectionaboutus {
        padding: 2% 16% 16% 16%;
        font-size: 10px;
        
        text-align: justify;
    }

    #copyright {
        margin-left: 22%;
        font-size: xx-small;


    }

    .footernav {

        padding-left: 1%;
        margin-right: 1%;
        font-size: 0.9rem;


    }

    .fa-facebook {

        margin-left: 30%;
        color:rgb(0, 0, 0);
        border-radius: 50%;
    }

    #homeclass {
        padding-left: 25%;
        font-size: 0.9rem;
    }

    .contactcard {
        margin: 5%;
        height: 10rem;
        width: 88%;
        background-color: rgba(217, 217, 217, 0.22);
        margin-top: 10%;
        background-color:#ecf0f1 ;
      
        border-radius: 10% 10% 10% 10%;

    }

    a#facebook.fa-facebook {
        background: #3B5998;
        color: rgb(238, 238, 238);
        height: 80%;
        width: 10%;
        padding-left: 4%;
        padding-top: 3%;

    }

    a#facebook.fa {
        margin-left: 15%;
        
        margin-top: 20%;
        font-size: 0.7in;
        width: max-content;
        text-align: right;
        text-decoration: none;
        height: 70%;
        
        border-radius: 50%;
        float: inline-start;


    }

    .clickhere {
        text-align: center;
        font-size: 1.4rem;
        width: 50%;
        padding-right: 5%;
        padding-top: 5%;
        margin-left: 2%;

        color: #000000;
    }


    a#whatsapp.fa-whatsapp {
        background: #0b8d09;
        font-size: 0.7in;
        padding: 2% 12% 2% 5%;
        height: 50%;
       float: inline-end;
       margin-top: 15%;
       margin-right: 10%;
        color: rgb(255, 255, 255);
    }

  .productimage{
    height:1in;
    width:1in;
    float: inline-start;
 margin-left: 7%;
    padding: 1%;
    margin-right: -5%;
    margin-top: 5%;
    border-radius: 10%;
  
  }
  .index{
    margin-top: 120%;
    margin-left: -1%;
    margin-right: -1%;
    
  }

    a#insta.fa-instagram {
        background: #fd007f;
        font-size: 0.7in;
        height: 50%;
        width: 15%;
        margin-left: 10%;
        margin-top: 10%;
        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
     float: inline-start;
  
        color: rgb(255, 255, 255);

    }
    .videocard{
        background-color: #fefefe;
        margin: auto;
        overflow: auto;
        padding: 20px;
        border-radius: 5%;
        width:85%;
        box-shadow: 2px 2px 5px 5px rgba(128, 131, 132, 0.467);
      margin-left: 1%;
      }
    
      
    .mainmodal{
      display:none;
      z-index: 1; 
    margin-top: -4in;
      margin-left: 10%;
      position: fixed;
    
    
     
    }
    .closebutton{
    
      float: inline-end;
     margin-top: -13%;
    margin-right: 2%; 
      font-size: 0.4in;
      cursor: pointer;
    }
    .gemname{
      font-family: alegry;
      text-align: center;
      font-size: 3vh;
      margin: 0;
      margin-bottom: 2%;
    }
    
    .video{
      margin-left: 10%;
      margin-top: 5%;
      height: 120px;;
      width:200px
    }
    /* .clientsproducts{
      filter: blur(5px);
    } */
    .gemstonedescription{
      font-family: alegry;
     margin-left: 1%;
     font-size: 10px;
    }
    .quotation{
    float: inline-end;
    margin-top: -10%;
    margin-right: 1%;
    background-color: rgb(1, 124, 91);
    border-color: #02030383;
    color: white;
    font-size: 10px;
    padding: 1%;
    overflow: auto;
    }
    .board{
      width:50%;
      margin-left: 25%;
    }
    .input{
      margin-left: 30%;
      height:0.5in;
      width: 1in;
    }
    .birthmonth{
      margin: 10%;
      height: 90%;
      padding-bottom: 5%;
      
    }
    .enterbutton{
      margin-left: 3%;
    }
   .birthsoneclass{
    margin-left: 10%;
   }
   .centergem{
    width: 70%;
    margin-left: 15%;
  
  }
  .textconact{
    color: rgb(231, 197, 86);
    font-size: 0.8rem;
   
  }
  #copyright{
    margin-top: 1%;
    margin-left: 13%;
    margin-bottom: -10%;
    padding-bottom: 1%;
    color: rgb(231, 197, 86);
    
  }
}