.maincard{
    height: fit-content;
    margin:-1%;
    padding:0;
    padding-top: 1%;
    color: transparent;
    position: relative;
    background-color: #00000096;
     padding-bottom: 1%;
 
  }
  @font-face {
    font-family: alegry;
    src: url(../fonts/AlegreyaSC-Regular.ttf);
  }
@font-face {
    font-family: oxy ;
    src: url(../fonts/Oxanium-Light.ttf); 
   
}
@font-face {
    font-family: LibreBaskerville;
    src: url(../fonts/LibreBaskerville-Bold.ttf);
}
@font-face {
    font-family:licorice;
    src: url(../fonts/Licorice-Regular.ttf);
}
@font-face {
    font-family: lora;
    src: url(../fonts/Lora-Regular.ttf);
}
body{
  background-color: #000000;
}
.birthsoneclass{
  margin-left: 43%;
}
.centergem{
  width: 40%;margin-left: 30%; margin-top: -6%;
}
.Navbar{
   margin-top: 2%;
    padding-bottom: 3%;
}
#gemstoneid{
  font-family: oxy;
  font-weight: normal;
  
  margin: 3%;
  margin-left: 45%;
  background-color: #000000;
}
.mainbg{
  width: 102%;
  margin-left: -1%;
  margin-right: -1%;
  margin-top: -12%;
  height: 650px;
}
.navitems{
  float: right;
 
  padding: 2%;
 margin-top: -5%;
  margin-right: 2%;
  display: inline;
    font-size: 1.1rem;
    font-family: lora;
  color: #ffffff ; 
 

  text-decoration: none;
 
}
h1{
    
    font-family: LibreBaskerville ;
    color: #fcfcfc ;
    font-size: 1.8rem;
    margin-left: 5%;
 
}
h2{
font-family: licorice;
margin-left: 5%;
font-size: 0.9rem;
margin-top: -1.5%;
letter-spacing: 4px;
color: #ffffff ;
}
.aboutusbanner{
    width:30%;
    height: 30%;
    padding-left: 5%;
    padding-right: 2%;
    margin-top: 2%;
    margin-left: 15%;
    float: left;
}
.conactme{
 
 margin: 12%;
  margin-top: 10%;
  
}
.textconact{
  color: rgb(231, 197, 86);
  font-size: 2rem;
  text-align: center;
  font-family: oxy;
}
.icon{
  margin: 2%;

  width: 8%;
  margin-inline-start: 5%;
  margin-left: 28%;
  margin-right: -18%;
  margin-bottom: -5%;
}
.aboutheading{
    font-family: oxy;
    padding-left: 25%;
    
   text-align: left;
    letter-spacing: 1ch;
    font-size: 0.4in;
   margin: 6%;
   margin-top: 2%;
  
    color: #ffffff;
}
.textsectionaboutus{
    padding:1% 15% 15% 15%;
    font-family: oxy;
    color: #e8e8ed;
    margin: 2%;
    margin-top:-5%;
    
}



  .footernav{

padding-left: 2%;
margin-right: 2px;
    font-size: 1rem;
    font-family: lora;
    text-decoration: none;
  color:#fffdfd ;
  text-align: center;
 
  }

  #homeclass{
    padding-left: 40%;
  }
 
  .clickhere{
  text-align: center;
   font-size: 3rem;
   width:50%;
   padding-right: 5%;
   padding-top: 3%;
  
   float: right;
   font-family: oxy;
 color: #000000;
  }

  .productimage{
    height:4in;
    width:4in;
 
    /* margin: 10px 1% 2% 8%;
    */
   float: left;
    /* border-radius: 10%; */
    cursor: pointer;
    box-shadow: 2px 2px 5px 5px ;
   
  
  
  }
  .index{
    margin-bottom: 50%;
    
  }

  .videocard{
    background-color: #fefefe;
    margin: auto;
    overflow: auto;
    padding: 20px;
    border-radius: 5%;
    width:200%;
    box-shadow: 2px 2px 5px 5px rgba(128, 131, 132, 0.467);
  margin-left: 10%;
  }

  
.mainmodal{
  display:none;
  z-index: 1; 
 margin-top: -50%;
  position: fixed;
  padding-bottom: -1%;
  margin-left: 5%;
  


 
}
.closebutton{

  float: inline-end;
 margin-top: -7%;
margin-right: 2%; 
  font-size: 0.5in;
  cursor: pointer;
}
.gemname{
  font-family: alegry;
  text-align: center;
  font-size: 7vh;
  margin: 0;
  margin-bottom: 2%;
}

.video{
  margin-left: 28%;
}
.clientsproducts{
  margin-bottom: -1%;
  margin-left: 5%;
}
.gemstonedescription{
  font-family: alegry;
 margin-left: 10%;
}
.quotation{
float: inline-end;
margin-top: -10%;
margin-right: 10%;
background-color: rgb(1, 124, 91);
border-color: rgba(255, 255, 255, 0.019) ;
color: white;
font-size: 30px;
padding: 1%;
}

.birthmonth{
  margin: 20%;
  margin-top: -1%;
 
  background-color: #000000;
  border-color: #fefefe;
  border-style: double;
  height: 5.5in;
  
}
.bithmonthtext{
  color: #f0f0f0;
  text-align: center;
  font-family: oxy;
  margin-top:1%;
}
.input{
  margin-left: 30%;
  height:0.5in;
  width: 3in;
}
.newwww{
  border: 2px solid rgb(204, 177, 25);
  border-radius: 5px;
}
.gemstone{
  width: 3in;
  margin-left: 30%;
}
.textgems{
  color: #f0f0f0;
  margin-left: 35%;
  font-size: 0.2in;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.trial{
  font-size: 0.4in;
  margin-left: -25%;
}
.backbutton{
  background-color: black;
  color: white;
  margin-left: 5% ;
  width: 0.9in;
 
  font-size: larger;

}
.multistone{
  width: 200px;
  margin-left: 5%;
  margin-top: 5%;
}
.textformulti{
  font-size: 0.3in;
  margin-left: -30%;
  padding-bottom: 10%;
}
.board{
  margin-left: 25%;
}
.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;

  margin:0% 0%;
  padding:0.7% 0%;
  color:gray;
  font-size:0.8em;
 
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;

  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
 
  
 