<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="..style.css">
    <link rel="stylesheet" href="..mediaQueries.css">
    <title>Hathim&Co</title>
</head>

<body>
    <div class="maincard">
        <h1>HATHIM & CO</h1>
        <h2>Shine Bright with Every Stone</h2>
        <div class="Navbar">
            <a class="navitems" href="/index.html">HOME</a>
            <a class="navitems" href="aboutus.html">ABOUT US</a>
            <a class="navitems" href="contactus.html">CONTACT US</a>
        </div>


    </div>
    <section class="aboutSection">
        <img class="aboutusbanner" src="/images/aboutusbanner.jpeg">
        <h3 class="aboutheading">ABOUT ME</h3>
        <h4 class="textsectionaboutus">As a passionate gem enthusiast with over [X] years of experience in the industry,
            I am dedicated to providing exceptional quality gemstones to discerning clients. My deep appreciation for
            the beauty and rarity of gems, combined with extensive knowledge of gemology and sourcing, ensures that
            every stone I offer is of the highest standard. Whether you're searching for a mesmerizing blue sapphire, a
            fiery ruby, or a dazzling diamond, I take pride in curating a diverse selection of gems to suit your unique
            preferences and desires. With a commitment to integrity, transparency, and customer satisfaction, I strive
            to create memorable and meaningful experiences for each client, guiding them through the enchanting world of
            gemstones with expertise and enthusiasm.</h4>
    </section>
</body>
<footer class="footer">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-whatsapp"></a>
    <div>
        <a class="footernav" href="/index.html" id="homeclass">Home</a>
        <a class="footernav" href="./aboutus.html">About Us</a>
        <a class="footernav" href="./contactus.html">Contact Us</a>

    </div>
    <p id="copyright">&copy;2024 HAJARA MOHAMED RIFKY | All Rights Reserved</p>
</footer>

</html>
